main {
  width: 100%;
  padding: 0 20px;
}
.fix-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .demonstration-block {
    max-width: 1110px;
    margin: 54px auto 110px auto;
    display: flex;
    flex-wrap: wrap;
    .information {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .category {
        font-family: "Hind";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.145em;
        text-transform: uppercase;
        color: $bgNumberShopping;
        margin-bottom: 3px;
      }
      .description {
        font-family: "Hind";
        font-style: normal;
        font-weight: 600;
        font-size: 61px;
        line-height: 73px;
        color: $descriptionText;
        margin-bottom: 29px;
      }
      .mark {
        display: table;
        padding: 5px 5px 5px 0;
        color: $descriptionMark;
        background-color: $descriptionMarkbg;
      }
      .bottom-description {
        font-family: "Hind";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 36px;
        margin-right: 68px;
        color: $descriptionText;
      }
      .buy-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .buy-button {
          width: 151px;
          height: 58px;
          background-color: $descriptionMark;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Hind";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          text-transform: uppercase;
          color: #ffffff;
          margin-right: 31px;
        }
        .price {
          color: $descriptionText;
          font-family: "Hind";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 27px;
          text-align: center;
          margin-right: 18px;
        }
        .old-price {
          font-family: "Hind";
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 27px;
          text-align: center;
          text-decoration-line: line-through;
          color: $descriptionText;
          opacity: 0.5;
        }
      }
    }
    .picture {
      width: 50%;
      align-self: flex-end;
      img {
        width: 100%;
      }
    }
    .sponsors {
      display: flex;
      width: 93%;
      flex-wrap: wrap;
      padding: 76px 118px;
      justify-content: space-between;
      align-items: center;
      background: #ffffff;
      box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08),
        0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083),
        0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886),
        0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04),
        0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114),
        0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
      .sponsors-pic {
        width: 163px;
        height: 85px;
      }
    }
  }
  .products-block {
    display: flex;
    max-width: 1110px;
    flex-wrap: wrap;
    margin-bottom: 160px;
    .product {
      display: flex;
      .product-view {
        width: 262px;
        margin-right: 30px;
      }
      .product-description {
        width: 256px;
      }
      .product-slogan {
        font-family: "Hind";
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 40px;
        text-align: center;
        color: $descriptionText;
        display: inline;
      }
      .product-description-text {
        font-family: "Hind";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        opacity: 0.6;
        margin-bottom: 20px;
        color: $descriptionText;
      }
      .price {
        display: inline-block;
        color: $descriptionText;
        font-family: "Hind";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        margin-right: 2px;
      }
      .old-price {
        display: inline-block;
        font-family: "Hind ";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 27px;
        text-align: center;
        text-decoration-line: line-through;
        color: $descriptionText;
        opacity: 0.5;

        &::before {
          content: "/";
          color: $descriptionText;
          opacity: 0.5;
          font-family: "Hind ";
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 27px;
          text-align: center;
          margin-right: 2px;
          text-decoration-line: none;
        }
      }
      .rating {
        margin-top: 15px;
        .rate-star {
          @include bgi(url(../../../imgs/icons/starnotfill.svg));
          width: 12px;
          height: 12px;
          display: inline-block;
          &.fill {
            @include bgi(url(../../../imgs/icons/star.svg));
          }
        }
      }
    }
  }
  .proposal-block {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 111px;
    .proposal-content {
      overflow: hidden;
      position: relative;
      padding: 75px 0 74px 35px;
      width: 555px;
      height: 296px;
      background: linear-gradient(257.26deg, #008bf0 -13.2%, #d943c9 130.95%);
      border: 1px solid rgba(0, 0, 0, 0.1);
      &:first-child {
        margin-right: 30px;
      }
      .proposal-text {
      }
      .sale {
        font-family: "Hind";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 27px;
        text-transform: uppercase;
        color: $bgUserPic;
        opacity: 0.6;
        margin-bottom: 5px;
      }
      .product-name {
        font-family: "Hind";
        font-style: normal;
        font-weight: 600;
        font-size: 31px;
        line-height: 40px;
        color: $bgUserPic;
        margin-bottom: 7px;
      }
      .link-to-product {
        font-family: "Hind";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        color: $bgUserPic;
        display: inline;
      }
      .pic {
        position: absolute;
        top: 36px;
        right: 25.85px;
      }
    }
  }
}

#drone {
  top: -35px;
  right: -45.15px;
}
