main {
  width: 100%;
}
.fix-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .demonstration-block {
    max-width: 1110px;
    margin: 54px auto 110px auto;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 980px) {
      flex-direction: column;
      align-items: center;
    }

    .information {
      padding-left: 20px;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @media (max-width: 980px) {
        width: 100%;
      }
      .category {
        font-family: "Hind";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.145em;
        text-transform: uppercase;
        color: $bgNumberShopping;
        margin-bottom: 3px;
      }
      .description {
        font-family: "Hind";
        font-style: normal;
        font-weight: 600;
        font-size: 61px;
        line-height: 73px;
        color: $descriptionText;
        margin-bottom: 29px;
      }
      .mark {
        display: table;
        padding: 5px 5px 5px 0;
        color: $descriptionMark;
        background-color: $descriptionMarkbg;
      }
      .bottom-description {
        font-family: "Hind";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 36px;
        margin-right: 68px;
        color: $descriptionText;
      }
      .buy-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .buy-button {
          width: 151px;
          height: 58px;
          background-color: $descriptionMark;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Hind";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          text-transform: uppercase;
          color: #ffffff;
          margin-right: 31px;
        }
        .price {
          color: $descriptionText;
          font-family: "Hind";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 27px;
          text-align: center;
          margin-right: 18px;
        }
        .old-price {
          font-family: "Hind";
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 27px;
          text-align: center;
          text-decoration-line: line-through;
          color: $descriptionText;
          opacity: 0.5;
        }
      }
    }
    .picture {
      @media (max-width: 980px) {
        margin-top: 40px;
        width: 60%;
        align-self: center;
      }
      width: 50%;
      align-self: flex-end;
      img {
        width: 100%;
      }
    }
    .sponsors {
      display: flex;
      width: 93%;
      flex-wrap: wrap;
      padding: 76px 118px;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      background: #ffffff;
      box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08),
        0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083),
        0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886),
        0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04),
        0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114),
        0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
      @media (max-width: 640px) {
        justify-content: center;
      }
      .sponsors-pic {
        width: 163px;
        height: 85px;
      }
    }
  }
  .products-block {
    display: flex;
    max-width: 1110px;
    flex-wrap: wrap;
    margin-bottom: 160px;
    @media (max-width: 1130px) {
      justify-content: center;
    }
    .product {
      @media (max-width: 1130px) {
        margin-bottom: 30px;
      }
      display: flex;
      .product-view {
        width: 262px;
        margin-right: 30px;
      }
      .product-description {
        width: 256px;
      }
      .product-slogan {
        font-family: "Hind";
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 40px;
        text-align: center;
        color: $descriptionText;
        display: inline;
      }
      .product-description-text {
        font-family: "Hind";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        opacity: 0.6;
        margin-bottom: 20px;
        color: $descriptionText;
      }
      .price {
        display: inline-block;
        color: $descriptionText;
        font-family: "Hind";
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 27px;
        text-align: center;
        margin-right: 2px;
      }
      .old-price {
        display: inline-block;
        font-family: "Hind ";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 27px;
        text-align: center;
        text-decoration-line: line-through;
        color: $descriptionText;
        opacity: 0.5;

        &::before {
          display: inline-block;
          content: "/";
          color: $descriptionText;
          opacity: 0.5;
          font-family: "Hind ";
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 27px;
          text-align: center;
          margin-right: 2px;
          text-decoration-line: none;
        }
      }
    }
  }
  .proposal-block {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 284px;
    @media (max-width: 1175px) {
      justify-content: center;
    }
    .proposal-content {
      overflow: hidden;
      position: relative;
      padding: 75px 0 74px 35px;
      width: 555px;
      height: 296px;
      background: linear-gradient(257.26deg, #008bf0 -13.2%, #d943c9 130.95%);
      border: 1px solid rgba(0, 0, 0, 0.1);
      &:first-child {
        margin-right: 30px;
        .pic {
          top: -35px;
          right: -45.15px;
        }
      }
      @media (max-width: 1175px) {
        margin-bottom: 30px;
        &:first-child {
          margin-right: 0;
        }
      }
    }

    
    .sale {
      font-family: "Hind";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 27px;
      text-transform: uppercase;
      color: $bgUserPic;
      opacity: 0.6;
      margin-bottom: 5px;
    }
    .product-name {
      font-family: "Hind";
      font-style: normal;
      font-weight: 600;
      font-size: 31px;
      line-height: 40px;
      color: $bgUserPic;
      margin-bottom: 7px;
    }
    .link-to-product {
      font-family: "Hind";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 27px;
      text-align: center;
      text-transform: uppercase;
      color: $bgUserPic;
      display: inline;
    }
    .pic {
      position: absolute;
      top: 36px;
      right: 25.85px;
    }
  }
  .about-wrap {
    margin-bottom: 124px;
    width: 100%;
    background-color: $bgUserPic;
    height: 545px;
    display: flex;
    justify-content: center;
    .fix-about {
      max-width: 1110px;
      flex-wrap: wrap;
      display: flex;
      .left-part {
        @media (max-width: 1047px) {
          display: none;
        }
        width: 50%;
        .left-pic {
          width: 100%;
          position: relative;
          bottom: 200px;
        }
      }
      .right-part {
        width: 50%;
        padding-left: 150px;
        @media (max-width: 1047px) {
          width: 100%;
          padding-right: 20px;
          padding-left: 20px;
        }
        .text-block {
          position: relative;
          top: -40px;
          width: 100%;
          font-family: "Hind";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $descriptionText;
          opacity: 0.6;
        }
        .about-products-container {
          width: 100%;
          position: relative;
          bottom: 124px;
          .about-products-link {
            display: inline;
            font-family: "Hind";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 23px;
            letter-spacing: 0.145em;
            text-transform: uppercase;
            color: $bgNumberShopping;
            opacity: 0.6;
          }
          .about-products-title {
            font-family: "Hind";
            font-style: normal;
            font-weight: 600;
            font-size: 44px;
            line-height: 71px;
            color: $descriptionText;
          }
        }
        .list-block {
          .check {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
          .check-item {
            margin-bottom: 20px;
            font-family: "Hind";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 27px;
            color: $descriptionText;
            display: flex;
            align-items: center;
            &:before {
              border-radius: 50%;
              margin-right: 13px;
              content: "";
              display: block;
              min-width: 18px;
              min-height: 18px;
              @include bgi(url(../../../imgs/icons/checklist.svg));
              align-self: flex-start;
              position: relative;
              top: 3px;
            }
          }
        }
      }
    }
  }
}
.rating {
  margin-top: 15px;
  .rate-star {
    @include bgi(url(../../../imgs/icons/starnotfill.svg));
    width: 12px;
    height: 12px;
    display: inline-block;
    &.fill {
      @include bgi(url(../../../imgs/icons/star.svg));
    }
  }
}
