$backgroundColor: #e5e5e5;
$bgHeaderColor: white;
$menuColor: #030d15;
$hoverMenuColor: rgb(116, 155, 223);
$bgUserPic: #f4f9fc;
$bgNumberShopping: #c72535;
$descriptionText: #030d15;
$descriptionMark: #247cc0;
$descriptionMarkbg: rgba(36, 124, 192, 0.1);
$productBg: #fafafa;
