@import "./mixins.scss";
@import "./vars.scss";
@import "./fonts";
@import "./zerostyle";

.wrap {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@import "./header";
@import "./main";
@import "./main2";
@import "./main3";
@import "./footer";
@import "./modals";
