@font-face {
  font-family: "Hind bold";
  src: url(../../../fonts/HindSiliguri-Bold.ttf);
}
@font-face {
  font-family: "Hind";
  src: url(../../../fonts/HindSiliguri-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #e5e5e5;
  font-family: "Hind";
}

html {
  padding-top: 144px;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrap {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header {
  padding: 0 20px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0px 2px 14px 0px rgba(50, 50, 50, 0.28);
}
header .header-wrap {
  max-width: 1110px;
  margin: 0 auto;
}
header .header-wrap .header-content {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-wrap .header-content .logo {
  height: 25.6632575989px;
  width: 106px;
  background-image: url(../../../imgs/img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
}
header .header-wrap .header-content .menu-wrap {
  display: flex;
  justify-content: space-between;
  width: 573px;
  z-index: 10000;
}
@media (max-width: 980px) {
  header .header-wrap .header-content .menu-wrap {
    display: none;
  }
}
header .header-wrap .header-content .menu-wrap.active {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 90px;
  left: 0;
  justify-content: flex-start;
  padding-top: 40px;
  padding-left: 20px;
}
header .header-wrap .header-content .menu-wrap.active .menu {
  width: auto;
  flex-direction: column;
  align-items: space-between;
  height: 40%;
}
header .header-wrap .header-content .menu-wrap.active .menu .menu-item {
  font-size: 20px;
}
header .header-wrap .header-content .menu-wrap .menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 23px;
  list-style: none;
}
header .header-wrap .header-content .menu-wrap .menu-item {
  display: flex;
  align-items: center;
  height: 23px;
  font-family: Hind;
  font-size: 14px;
  line-height: 22.64px;
  font-weight: 500;
  text-transform: uppercase;
  color: #030d15;
  transition: 0.3s ease all;
}
header .header-wrap .header-content .menu-wrap .menu-item:after {
  content: "";
  display: block;
  width: 8px;
  height: 4px;
  background-image: url(../../../imgs/icons/menuarrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
}
header .header-wrap .header-content .menu-wrap .menu-item:hover {
  transform: scale(1.1);
  color: rgb(116, 155, 223);
  transition: 0.3s ease all;
}
header .header-wrap .header-content .user-bar {
  width: 127px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-wrap .header-content .user-bar .search-button {
  width: 16px;
  height: 16px;
  background-image: url(../../../imgs/icons/search.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: inherit;
  cursor: pointer;
}
header .header-wrap .header-content .user-bar .basket-button {
  background: transparent;
  width: 16px;
  height: 15.27px;
  background-image: url(../../../imgs/icons/basket.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .header-wrap .header-content .user-bar .basket-button .number-shopping {
  width: 12px;
  height: 12px;
  background-color: #c72535;
  color: white;
  font-family: Hind;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  left: 10px;
  bottom: 4.82px;
}
header .header-wrap .header-content .user-bar .user-pic-container {
  background-image: url(../../../imgs/icons/userpic.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  display: block;
  width: 35px;
  height: 35px;
  background-color: #f4f9fc;
  border-radius: 50%;
}

.burger-button {
  background: transparent;
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  display: none;
  z-index: 10001;
}
@media (max-width: 980px) {
  .burger-button {
    display: block;
  }
}

.burger-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  left: 0;
  transition: 0.3s;
}
.burger-line:first-child {
  top: 1px;
}
.burger-line:nth-child(2) {
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
}
.burger-line:nth-child(3) {
  height: 1px;
  top: 50%;
}
.burger-line:last-child {
  bottom: 0;
}

.burger-button.active .burger-line:first-child {
  opacity: 0;
}
.burger-button.active .burger-line:last-child {
  opacity: 0;
}
.burger-button.active .burger-line:nth-child(2) {
  transform: translateY(-50%) rotate(45deg);
}
.burger-button.active .burger-line:nth-child(3) {
  transform: translateY(-50%) rotate(-45deg);
}

main {
  width: 100%;
}

.fix-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}
.fix-main .demonstration-block {
  max-width: 1110px;
  margin: 54px auto 110px auto;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 980px) {
  .fix-main .demonstration-block {
    flex-direction: column;
    align-items: center;
  }
}
.fix-main .demonstration-block .information {
  padding-left: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 980px) {
  .fix-main .demonstration-block .information {
    width: 100%;
  }
}
.fix-main .demonstration-block .information .category {
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #c72535;
  margin-bottom: 3px;
}
.fix-main .demonstration-block .information .description {
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
  line-height: 73px;
  color: #030d15;
  margin-bottom: 29px;
}
.fix-main .demonstration-block .information .mark {
  display: table;
  padding: 5px 5px 5px 0;
  color: #247cc0;
  background-color: rgba(36, 124, 192, 0.1);
}
.fix-main .demonstration-block .information .bottom-description {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 36px;
  margin-right: 68px;
  color: #030d15;
}
.fix-main .demonstration-block .information .buy-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fix-main .demonstration-block .information .buy-container .buy-button {
  width: 151px;
  height: 58px;
  background-color: #247cc0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 31px;
}
.fix-main .demonstration-block .information .buy-container .price {
  color: #030d15;
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  margin-right: 18px;
}
.fix-main .demonstration-block .information .buy-container .old-price {
  font-family: "Hind";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
}
.fix-main .demonstration-block .picture {
  width: 50%;
  align-self: flex-end;
}
@media (max-width: 980px) {
  .fix-main .demonstration-block .picture {
    margin-top: 40px;
    width: 60%;
    align-self: center;
  }
}
.fix-main .demonstration-block .picture img {
  width: 100%;
}
.fix-main .demonstration-block .sponsors {
  display: flex;
  width: 93%;
  flex-wrap: wrap;
  padding: 76px 118px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
}
@media (max-width: 640px) {
  .fix-main .demonstration-block .sponsors {
    justify-content: center;
  }
}
.fix-main .demonstration-block .sponsors .sponsors-pic {
  width: 163px;
  height: 85px;
}
.fix-main .products-block {
  display: flex;
  max-width: 1110px;
  flex-wrap: wrap;
  margin-bottom: 160px;
}
@media (max-width: 1130px) {
  .fix-main .products-block {
    justify-content: center;
  }
}
.fix-main .products-block .product {
  display: flex;
}
@media (max-width: 1130px) {
  .fix-main .products-block .product {
    margin-bottom: 30px;
  }
}
.fix-main .products-block .product .product-view {
  width: 262px;
  margin-right: 30px;
}
.fix-main .products-block .product .product-description {
  width: 256px;
}
.fix-main .products-block .product .product-slogan {
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
  color: #030d15;
  display: inline;
}
.fix-main .products-block .product .product-description-text {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  opacity: 0.6;
  margin-bottom: 20px;
  color: #030d15;
}
.fix-main .products-block .product .price {
  display: inline-block;
  color: #030d15;
  font-family: "Hind";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  margin-right: 2px;
}
.fix-main .products-block .product .old-price {
  display: inline-block;
  font-family: "Hind ";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
}
.fix-main .products-block .product .old-price::before {
  display: inline-block;
  content: "/";
  color: #030d15;
  opacity: 0.5;
  font-family: "Hind ";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  margin-right: 2px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.fix-main .swiper-container {
  position: relative;
  max-width: 1140px;
  height: 320px;
  margin-bottom: 284px;
  overflow: hidden;
}
.fix-main .swiper-container .proposal-content {
  width: 100%;
  padding: 75px 0 74px 35px;
  background: linear-gradient(257.26deg, #008bf0 -13.2%, #d943c9 130.95%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.fix-main .swiper-container .proposal-content .drone {
  top: -55px;
  left: 249px;
}
.fix-main .swiper-container .proposal-content .camera {
  top: 20px;
  left: 300px;
}
.fix-main .swiper-container .sale {
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #f4f9fc;
  opacity: 0.6;
  margin-bottom: 5px;
}
.fix-main .swiper-container .product-name {
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 40px;
  color: #f4f9fc;
  margin-bottom: 7px;
}
.fix-main .swiper-container .link-to-product {
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #f4f9fc;
  display: inline;
}
.fix-main .swiper-container .pic {
  position: absolute;
}
.fix-main .about-wrap {
  margin-bottom: 124px;
  width: 100%;
  background-color: #f4f9fc;
  height: 545px;
  display: flex;
  justify-content: center;
}
.fix-main .about-wrap .fix-about {
  max-width: 1110px;
  flex-wrap: wrap;
  display: flex;
}
.fix-main .about-wrap .fix-about .left-part {
  width: 50%;
}
@media (max-width: 1047px) {
  .fix-main .about-wrap .fix-about .left-part {
    display: none;
  }
}
.fix-main .about-wrap .fix-about .left-part .left-pic {
  width: 100%;
  position: relative;
  bottom: 200px;
}
.fix-main .about-wrap .fix-about .right-part {
  width: 50%;
  padding-left: 150px;
}
@media (max-width: 1047px) {
  .fix-main .about-wrap .fix-about .right-part {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.fix-main .about-wrap .fix-about .right-part .text-block {
  position: relative;
  top: -40px;
  width: 100%;
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #030d15;
  opacity: 0.6;
}
.fix-main .about-wrap .fix-about .right-part .about-products-container {
  width: 100%;
  position: relative;
  bottom: 124px;
}
.fix-main .about-wrap .fix-about .right-part .about-products-container .about-products-link {
  display: inline;
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #c72535;
  opacity: 0.6;
}
.fix-main .about-wrap .fix-about .right-part .about-products-container .about-products-title {
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 71px;
  color: #030d15;
}
.fix-main .about-wrap .fix-about .right-part .list-block .check {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fix-main .about-wrap .fix-about .right-part .list-block .check-item {
  margin-bottom: 20px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;
  color: #030d15;
  display: flex;
  align-items: center;
}
.fix-main .about-wrap .fix-about .right-part .list-block .check-item:before {
  border-radius: 50%;
  margin-right: 13px;
  content: "";
  display: block;
  min-width: 18px;
  min-height: 18px;
  background-image: url(../../../imgs/icons/checklist.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-self: flex-start;
  position: relative;
  top: 3px;
}

.rating {
  margin-top: 15px;
}
.rating .rate-star {
  background-image: url(../../../imgs/icons/starnotfill.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 12px;
  height: 12px;
  display: inline-block;
}
.rating .rate-star.fill {
  background-image: url(../../../imgs/icons/star.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.popular-products-block {
  display: flex;
  max-width: 1140px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular-products-block .new-products {
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #c72535;
  opacity: 0.6;
  text-align: center;
  letter-spacing: 0.145em;
  text-transform: uppercase;
}
.popular-products-block .popular-title {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 71px;
  text-align: center;
  color: #030d15;
  margin-bottom: 22px;
}
.popular-products-block .categories-of-popular {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.popular-products-block .categories-item {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #030d15;
  opacity: 0.6;
  cursor: pointer;
  margin-right: 40px;
}
.popular-products-block .categories-item:last-child {
  margin: 0;
}
.popular-products-block .current {
  color: #c72535;
  opacity: 1;
}
.popular-products-block .products-slider {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}
.popular-products-block .products-slider.active {
  display: flex;
}
@media (max-width: 765px) {
  .popular-products-block .products-slider {
    flex-direction: column;
    align-items: center;
  }
}
.popular-products-block .products-slider .products-slider-item {
  position: relative;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 360px;
  height: 503px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}
.popular-products-block .products-slider .products-slider-item .color-picker {
  position: absolute;
  right: 33px;
  bottom: 35px;
  display: none;
}
.popular-products-block .products-slider .products-slider-item .color-picker .color {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.popular-products-block .products-slider .products-slider-item .color-picker .color.color1 {
  background-color: #c3d7e6;
}
.popular-products-block .products-slider .products-slider-item .color-picker .color.color2 {
  background-color: #15151d;
}
.popular-products-block .products-slider .products-slider-item .color-picker .color.color3 {
  background-color: #2f80ed;
}
.popular-products-block .products-slider .products-slider-item .color-picker .color.picked {
  border: 0.5px solid #030d15;
}
.popular-products-block .products-slider .products-slider-item:hover .color-picker {
  display: flex;
  min-width: 100px;
  justify-content: space-between;
}
.popular-products-block .products-slider .products-slider-item:hover .lower {
  background-color: #fafafa;
  padding: 28px 35px 28px 35px;
  height: 160px;
}
.popular-products-block .products-slider .products-slider-item:hover .lower .product-name {
  display: none;
}
.popular-products-block .products-slider .products-slider-item:hover .lower .item-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 42px;
}
.popular-products-block .products-slider .products-slider-item:hover .lower .menu-element {
  background: inherit;
  transition: all 0.3s;
}
.popular-products-block .products-slider .products-slider-item:hover .lower .menu-element:hover {
  transform: scale(1.25);
  transition: all 0.3s;
}
.popular-products-block .products-slider .products-slider-item:hover .lower .menu-element:nth-child(1) {
  display: block;
  background-image: url(../../../imgs/icons/basket.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 22px;
  height: 22px;
}
.popular-products-block .products-slider .products-slider-item:hover .lower .menu-element:nth-child(1).added {
  background-image: url(../../../imgs/icons/remove_shopping_cart_FILL0_wght400_GRAD0_opsz48.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.popular-products-block .products-slider .products-slider-item:hover .lower .menu-element:nth-child(2) {
  width: 18px;
  height: 18px;
  display: block;
  background-image: url(../../../imgs/icons/zoom.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.popular-products-block .products-slider .products-slider-item:hover .lower .menu-element:nth-child(3) {
  width: 22px;
  height: 20px;
  display: block;
  background-image: url(../../../imgs/icons/like.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.popular-products-block .products-slider .products-slider-item:hover .lower .menu-element:nth-child(4) {
  width: 18px;
  height: 22px;
  display: block;
  background-image: url(../../../imgs/icons/reload.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.popular-products-block .products-slider .products-slider-item:hover .lower .rating {
  margin-top: 3px;
}
.popular-products-block .products-slider .products-slider-item:hover .lower .rate-star {
  width: 12px;
  height: 12px;
}
.popular-products-block .products-slider .products-slider-item:nth-child(3n) {
  margin: 0;
}
.popular-products-block .products-slider .products-slider-item .upper {
  height: 343px;
  padding: 35px 0 0 35px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.popular-products-block .products-slider .products-slider-item .lower {
  padding: 0 0 35px 35px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.popular-products-block .products-slider .products-slider-item .lower .item-menu {
  display: none;
}
.popular-products-block .products-slider .products-slider-item .sale-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #030d15;
  align-self: flex-start;
  margin-bottom: 12px;
}
.popular-products-block .products-slider .products-slider-item .product-pic {
  width: 80%;
  align-self: center;
}
.popular-products-block .products-slider .products-slider-item .product-name {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 40px;
  color: #030d15;
  justify-self: flex-end;
}
.popular-products-block .products-slider .products-slider-item .price {
  display: inline-block;
  color: #030d15;
  font-family: "Hind";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  margin-right: 2px;
}
.popular-products-block .products-slider .products-slider-item .old-price {
  display: inline-block;
  font-family: "Hind ";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
}
.popular-products-block .products-slider .products-slider-item .old-price::before {
  display: inline-block;
  content: "/";
  color: #030d15;
  opacity: 0.5;
  font-family: "Hind ";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  margin-right: 2px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
.popular-products-block .products-slider .products-slider-item .rating {
  margin-top: 7px;
  margin: 0;
}
.popular-products-block .products-slider .products-slider-item .rating .rate-star {
  width: 16px;
  height: 16px;
}
@media (max-width: 1155px) {
  .popular-products-block .products-slider .products-slider-item:nth-child(3n) {
    margin: 0;
  }
  .popular-products-block .products-slider .products-slider-item:nth-child(2n+1) {
    margin: 0 30px 30px 0;
  }
  .popular-products-block .products-slider .products-slider-item:nth-child(2n) {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 765px) {
  .popular-products-block .products-slider .products-slider-item {
    margin: 0 0 30px 0 !important;
  }
}
.popular-products-block .view-all {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 146px;
}
.popular-products-block .view-all .all-products-link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #030d15;
}
.popular-products-block .view-all .all-products-link::after {
  display: inline-block;
  margin-left: 10px;
  content: "";
  background-image: url("../../../imgs/icons/arrrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 26px;
  height: 10px;
}

.new-shop-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #030d15;
  opacity: 0.6;
  max-width: 457px;
  margin-bottom: 50px;
}

.bottom-product-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left-column,
.right-column,
.middle-column {
  width: 360px;
  margin-bottom: 30px;
}

.left-column,
.middle-column {
  margin-right: 30px;
}

a:first-child .left-column-item {
  width: 100%;
  height: 330px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

a:last-child .left-column-item {
  width: 100%;
  height: 456px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle-column-item {
  width: 100%;
  height: 252px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

a:nth-child(2) .middle-column-item img {
  width: 70%;
}

a:nth-child(1) .right-column-item {
  width: 100%;
  height: 432px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

a:nth-child(2) .right-column-item {
  width: 100%;
  height: 354px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.contact-us {
  width: 100%;
  min-height: 310px;
  background-color: #f4f9fc;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed-contact-us {
  max-width: 1140px;
  flex: 1 1 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
@media (max-width: 980px) {
  .fixed-contact-us {
    flex-direction: column;
    flex: 0 0 auto;
  }
}

.contact-us-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 980px) {
  .contact-us-description {
    align-self: flex-start;
    margin-bottom: 30px;
  }
}
.contact-us-description h3 {
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #c72535;
  opacity: 0.6;
}
.contact-us-description h2 {
  font-family: "Hind";
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 40px;
  color: #030d15;
  margin-bottom: 8px;
}
.contact-us-description p {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #030d15;
  opacity: 0.6;
  max-width: 360px;
}

.enter-email {
  display: flex;
}
.enter-email input {
  font-family: "Hind";
  font-size: 17px;
  font-weight: 650;
  width: 357px;
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0 14px 26px;
}
.enter-email button {
  width: 122px;
  height: 50px;
  background: #247cc0;
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-container {
  height: 396px;
  width: 100%;
  background: #030d15;
  display: flex;
  justify-content: center;
}

.fix-content {
  padding: 30px;
  max-width: 1140px;
  display: flex;
  flex-basis: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .fix-content {
    justify-content: center;
  }
}

.store-information {
  width: 261px;
  display: flex;
  flex-direction: column;
  height: 150px;
}
.store-information img {
  width: 66px;
  margin-bottom: 22.15px;
}
@media (max-width: 600px) {
  .store-information {
    display: none;
  }
}

.store-info-text {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  opacity: 0.6;
}

.nav-section {
  width: 164px;
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
@media (max-width: 1020px) {
  .nav-section {
    display: none;
  }
}

.nav-section-title {
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.about-store {
  width: 261px;
  height: 265px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-store .company-link {
  display: block;
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  margin-top: 14px;
  margin-bottom: 16px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nav-list li {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 15px;
}

.social-media {
  margin-bottom: 58px;
}
.social-media ul {
  display: flex;
  height: 15.25px;
}
.social-media ul .social-link {
  display: inline-block;
  margin-right: 25px;
  height: 100%;
  width: 20px;
}
.social-media ul .social-link li {
  height: 100%;
}
.social-media ul .social-link:first-child li {
  background-image: url("../../../imgs/icons/instagram.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.social-media ul .social-link:nth-child(2) li {
  background-image: url("../../../imgs/icons/facebook.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.social-media ul .social-link:nth-child(3) li {
  background-image: url("../../../imgs/icons/twitter.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.social-media ul .social-link:nth-child(4) li {
  background-image: url("../../../imgs/icons/in.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
.social-media ul .social-link:last-child li {
  background-image: url("../../../imgs/icons/youtube.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.select-lang::before {
  position: relative;
  top: 3px;
  content: "";
  display: inline-block;
  width: 12px;
  height: 13px;
  background-image: url("../../../imgs/icons/lang.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 9px;
}
.select-lang::after {
  position: relative;
  margin-left: 3px;
  top: -2px;
  content: "";
  display: inline-block;
  width: 8px;
  height: 4px;
  background-image: url("../../../imgs/icons/vector.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#basket-modal {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: perspective(600px) translate(0px, -100%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  width: 55%;
  height: 75%;
  background-color: #fafafa;
  z-index: 10002;
  border-radius: 15px;
  box-shadow: 0px 6px 18px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #030d15;
}
#basket-modal.active {
  transition: all 0.3s ease;
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) translate(-50%, -20%);
}
#basket-modal h2 {
  display: block;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.close-basket-modal,
.close-good-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.close-basket-modal:hover,
.close-good-modal:hover {
  transition: 0.3s;
  transform: rotate(180deg) scale(1.1);
}
.close-basket-modal span:first-child,
.close-good-modal span:first-child {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(80, 79, 79);
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  transform: translateY(-50%) rotate(45deg);
}
.close-basket-modal span:last-child,
.close-good-modal span:last-child {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgb(80, 79, 79);
  top: 50%;
  transition: 0.3s;
  transform: translateY(-50%) rotate(-45deg);
}

.close-good-modal {
  width: 15px;
  height: 15px;
}
.close-good-modal span:first-child,
.close-good-modal span:last-child {
  height: 1px;
}

.basket-good-container {
  width: 100%;
  height: 70%;
  overflow-y: auto;
}

.basket-good {
  position: relative;
  display: flex;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  border: 1px solid rgb(205, 204, 204);
  padding: 15px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.basket-good .price-container {
  padding-top: 20px;
  width: 350px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.basket-good .price-container .price {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}
.basket-good .price-container .old-price {
  font-weight: 300;
  font-size: 14px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
  margin-bottom: 10px;
}
.basket-good .price-container .price-per-one {
  font-weight: 300;
  font-size: 14px;
  color: #030d15;
  opacity: 0.5;
}
.basket-good .price-container .save {
  padding: 2px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  background: #247cc0;
}

.img-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  margin-right: 20px;
}
.img-container .sale {
  align-self: flex-start;
  border-radius: 3px;
  font-size: 12px;
  padding: 2px 3px;
  background-color: #247cc0;
  color: white;
}
.img-container img {
  width: 100%;
}

.description-container {
  padding-top: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-right: 20px;
}

.name {
  font-size: 20px;
  margin-bottom: 5px;
}

.propetries {
  display: flex;
  width: 100%;
  height: 100%;
  color: #686868;
}

.property-name {
  width: 30%;
  height: 100%;
}
.property-name h4 {
  margin-bottom: 5px;
}

.property-value {
  width: 50%;
  height: 100%;
}
.property-value h4 {
  margin-bottom: 5px;
}

.left-price {
  display: flex;
  flex-direction: column;
}

.counter {
  display: flex;
  width: 85px;
  height: 30px;
  border-radius: 12px;
  border: 1px solid #a8a8a8;
}
.counter .minus {
  width: 33.3%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f6f6f6;
}
.counter .minus:hover {
  background-color: #247cc0;
  color: white;
}
.counter .count {
  width: 33.3%;
  text-align: center;
  background-color: #f6f6f6;
}
.counter .plus {
  width: 33.3%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f6f6f6;
}
.counter .plus:hover {
  background-color: #247cc0;
  color: white;
}

.rigth-price {
  display: flex;
  flex-direction: column;
}

.purchase {
  display: flex;
  width: 100%;
  height: 23%;
  border-radius: 10px;
  border: 1px solid rgb(205, 204, 204);
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.cupon-input {
  display: flex;
  width: 250px;
  flex-direction: column;
  justify-content: space-between;
}
.cupon-input h3 {
  font-size: 16px;
  margin-bottom: 4px;
}

.input-container {
  width: 100%;
  height: 30px;
  margin-bottom: 4px;
  border-radius: 8px;
  background-color: #f6f6f6;
  display: flex;
  border: 1px solid #a8a8a8;
}
.input-container input {
  width: 85%;
  background-color: transparent;
  padding-left: 7px;
}

.check-coupon {
  width: 15%;
  height: 100%;
  outline: none;
  background-color: #f6f6f6;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: 1px solid #a8a8a8;
  background-image: url("../../../imgs/icons/arrow_forward_FILL0_wght400_GRAD0_opsz48.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 70%;
}
.check-coupon:hover {
  background-color: #247cc0;
}

.not-finded {
  font-size: 10px;
  color: rgb(255, 0, 0);
  margin-bottom: 3px;
}
.not-finded:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../../../imgs/icons/close_FILL0_wght400_GRAD0_opsz48.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 3px;
  position: relative;
  top: 2px;
}

.finded {
  font-size: 10px;
  color: rgb(0, 255, 0);
}
.finded:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../../../imgs/icons/done_FILL0_wght400_GRAD0_opsz48.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 3px;
  position: relative;
  top: 2px;
}

.total-price {
  padding-top: 12px;
  font-size: 20px;
  font-weight: bold;
  align-self: flex-start;
}

.all-prices .price {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}
.all-prices .old-price {
  font-weight: 300;
  font-size: 14px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #030d15;
  opacity: 0.5;
  margin-bottom: 10px;
}
.all-prices .save {
  padding: 2px;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  background: #247cc0;
}

.buy-button {
  width: 80px;
  height: 30px;
  background-color: #247cc0;
  color: white;
  border-radius: 12px;
}

.swiper-button-prev:after {
  color: black;
}

.swiper-button-next:after {
  color: black;
}

.swiper-pagination {
  bottom: 2px !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  font-size: 17px;
  background-color: black !important;
}/*# sourceMappingURL=style.css.map */